
<div class="searchFilter">
<input class="searchInput" name="searchQuery" placeholder="Enter city name..." [(ngModel)]="query" (keyDown.enter)="search()">
<div class="select">
<select  (change)="onChange($event.target.value)">
  <option value="hourly">hourly</option>
  <option  value="daily">daily</option>
</select>
</div>
<button class="searchButton" [disabled]="!query"  (click)="search()">Search</button>
</div>
<div class="goHome">
  <a routerLink="">Home</a>
</div>

<div *ngIf="weather$ | async as weather">
  <div *ngIf="!weather.loading; else loadingText">
    <div class="details">
      <h3>City: {{ weather.data.city }}</h3>
      <p><b>Timezone:</b> {{ weather.data.timezone }}</p>
    </div>

  

    <h2 *ngIf="selectedHD!='daily'">Daily weather:</h2>

    <h2 *ngIf="selectedHD!='hourly'">Hourly weather:</h2>

    <div *ngIf="selectedHD!='daily'" class="daily">
      <table>
        <tr>
          <th>City Name</th>
          <ng-container *ngFor="let weatherDay of weather.data.daily; index as i">
          <th>{{weatherDay.datetime | date:'EEEE'}}</th>
          </ng-container>
        
        </tr>
        <ng-container >
        <tr >
          <td>{{ weather.data.city}}</td>
          <td *ngFor="let weatherDay of weather.data.daily">{{ weatherDay.temp | number: '1.0-0' }} °C</td>
    
        </tr>
      </ng-container>
    
      </table>
  
    </div>
    <div *ngIf="selectedHD!='hourly'" class="daily">
      <table>
        <tr>
          <th>City Name</th>
          <ng-container *ngFor="let weatherDay of weather.data.hourly; index as i">
            
            <th *ngIf="(i%3==0 || i==0)&&i<=24">
            {{ weatherDay.datetime | date:'shortTime' }}</th>
           
          </ng-container>
    
        </tr>
        <ng-container >
        <tr>
          <td>{{ weather.data.city}}</td>
          <ng-container *ngFor="let weatherDay of weather.data.hourly; index as i">
          <td *ngIf="(i%3==0 || i==0)&&i<=24">{{ weatherDay.temp | number: '1.0-0' }} °C</td>
          </ng-container>
        </tr>
      </ng-container>
    
      </table>
  
    </div>
  </div>
</div>

<ng-template #loadingText>
  <h3 class="loading">
    Loading...
  </h3>
</ng-template>












