
<div class="searchFilter">
<input class="searchInput" name="searchQuery" placeholder="Enter city name..." [(ngModel)]="query" (keyDown.enter)="search()">
<select  (change)="onChange($event.target.value)">
  <option value="hourly">hourly</option>
  <option  value="daily">daily</option>
</select>

<button class="searchButton" [disabled]="!query"  (click)="search()">Show weather</button>
</div>
<div class="goHome">
  <a routerLink="">Home</a>
</div>

<div *ngIf="weather$ | async as weather">
  <div *ngIf="!weather.loading; else loadingText">
    <div class="details">
      <h3>City: {{ weather.data.city }}</h3>
      <p><b>Timezone:</b> {{ weather.data.timezone }}</p>
    </div>

  

    <h2>Daily weather:</h2>

    <div *ngIf="selectedHD!='daily'" class="daily">
      <table>
        <tr>
          <th>City Name</th>
          <th>Mo</th>
          <th>Tu</th>
          <th>We</th>
          <th>Th</th>
          <th>Fr</th>
          <th>Sa</th>
          <th>Su</th>
        </tr>
        <ng-container >
        <tr >
          <td>{{ weather.data.city}}</td>
          <td *ngFor="let weatherDay of weather.data.daily">{{ weatherDay.temp | number: '1.0-0' }} °C</td>
    
        </tr>
      </ng-container>
    
      </table>
  
    </div>
    <div *ngIf="selectedHD!='hourly'" class="daily">
      <table>
        <tr>
          <th>City Name</th>
          <th *ngFor="let weatherDay of weather.data.hourly">{{ weatherDay.datetime | date:'shortTime' }}</th>
    
        </tr>
        <ng-container >
        <tr >
          <td>{{ weather.data.city}}</td>
          <td *ngFor="let weatherDay of weather.data.hourly">{{ weatherDay.temp | number: '1.0-0' }} °C</td>
    
        </tr>
      </ng-container>
    
      </table>
  
    </div>
  </div>
</div>

<ng-template #loadingText>
  <h3 class="loading">
    Loading...
  </h3>
</ng-template>












