i {
    font-size: 60px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

.loading {
    text-align: center;
}

.goHome {
    text-align: center;
    margin: 0 auto;

    a {
        color: black;
        text-decoration: none;
    }
}

.goHome a:hover {
    text-decoration: underline;
}

.details {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
.details p{
    font-family: 'Commissioner', sans-serif;
}

.weatherState {
    font-size: 25px;
}

.daily {
    display: flex;
    flex-wrap: wrap;
}

.weatherItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 30px;
    margin: 30px;
}

.weatherDailyItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 30px;
    margin: 30px;
    flex: 1 0 12.5%;
}
input {
    text-align: center;
    display: block;
    margin: 0;
    // width: 400px;
    height: 40px;
    font-size: 25px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid black;
    transition: all .2s;

    &::placeholder {
        color: black;
    }

    // &:focus {
    //     background: black;
    //     color: white;

    //     &::placeholder {
    //         color: white;
    //     }
    // }
}

button {
    display: block;
    margin: 0 auto;
    width: 407px;
    height: 42px;
    font-size: 25px;
    margin-bottom: 20px;
    background: transparent;
    color: black;
    border: 1px solid black;
    transition: all .2s;
    outline: none;

    &:hover {
        color: white;
        background: black;
        border: 1px solid black;
    }

    &:disabled, &[disabled] {
        opacity: .5;
        
        &:hover {
            opacity: .5;
            background: transparent;
            color: black;
            border: 1px solid black;
        }
    }
}

ul {
    display: block;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li a {
        color: black;
        text-decoration: none;
    }
        
    li a:hover {
        text-decoration: underline;
    }
}
.searchFilter{
    display: flex;
    justify-content: center;
}
.searchInput{
    border-radius: 5px;
    height: 36px;
    margin: 0  3px 0 0;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0 4px;
    width: 100%;
    color: #212529;
  }
  th{
      border-bottom: 0.5px solid #212529;
  }

  td, th {
    // border: 0.1px solid #000000;
    text-align: center;
    padding: 8px;
    background-color: #e5f5f7;
  }
  
  input{
    width: 250px;
    font-size: 18px;
  }
  .searchButton{

    border-radius: 15px;
    width: 80px;
  }

  option{
    margin-top: 20px !important;
  }
  button{
    font-size: 18px;
  }

select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   background: #f9fcfb;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:rgb(7, 7, 7);
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
   border: 1px solid black;
   
   border-radius: 5px;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 7em;
   height: 2.5em;
   line-height: 3;
   background: white;
   overflow: hidden;
   border-radius: 5px;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 .4em;
   background-color: rgba(255, 255, 255, 0);
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #23b499;
}
